<!DOCTYPE html>
<html lang="en">

  <head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Racing+Sans+One&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="{% static 'style-all-cars.css'%}">

  </head>

  <div class="header">
    <a href="#default" class="logo"><h2>JDM <em>Motors!</em></h2></a>
    <div class="header-right">
      <a class="link-header" href="/home">Home</a>
      <a class="link-header" href="/meus_carros">Meus Carros</a>
      <a class="link-header" href="/home">Comprar</a>
      <a class="link-header" href="/vender">Vender</a>
      <a class="link-header" href="/login">Login</a>
      <a class="link-header" href="/logout">Logout</a>
  
    </div>
  </div>
    <body>
    <div id="page-container">
      <div id="content-wrap">
        <div class="banner">
          <div>
            <div>
              <div>
                <h4 id="destaque1">Aqui você encontrará o seu tão sonhado samurai!</h4>
              </div>
            </div>
          </div>
        </div>
      
        <div class="destaques">
          <div>
            <div>
              <h2 id="destaque">Seus anuncios encontrados</h2>
              <a href=""></a>
            </div>
          </div>

          

          {% for item in my_list %}

          <div class="carros destaques-carros">
            <div>
              <a href="carro_editar/{{item.id}}"><img src="{{item.Img_url}}" alt=""></a>
              <div >
                <a href="carro/{{item.id}}"><h4>{{item.Marca}}</h4></a>

                <h6> R${{item.Preco}} </h6>

                <p>{{item.Motor}} &nbsp;/&nbsp; {{item.Combustivel}} &nbsp;/&nbsp; {{item.Ano}} &nbsp;/&nbsp; São Paulo</p>

                <p class="descreve">
                  <strong>{{item.Km}}</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                  <strong>{{item.Motor}}</strong>&nbsp;&nbsp;&nbsp;&nbsp;
                  <strong>{{item.Cambio}}</strong>
                </p>
              </div>
            </div>
          </div>
          {% endfor %}
          </div>
        </div>
  </body>
</html>